body {
   color: purple;
   font-family: 'Times New Roman', Times, serif; 
   font-size: 40px;
}

.title {
    text-align: center;

}
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    box-shadow: 5px 5px 10px 1px rgba(53, 53, 53, 0.5);
}

.field:not(:last-child) {
    margin-right: 30px;
}


.label {
    text-transform: lowercase;
}

.value {
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: start;
    margin-bottom: 50px;
    
   
}


.image {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    width: 15%;
}
